:root{
  --d-button-flat-close-text-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --hljs-comment: rgb(126.1454545455, 146.4909090909, 160.0545454545);
  --secondary-rgb: 38, 50, 56;
  --header_background-rgb: 38, 50, 56;
  --d-button-transparent-icon-color--hover: rgb(2.6680628272, 158.7497382199, 252.1319371728);
  --primary-very-high: rgb(208.5363636364, 215.8727272727, 220.7636363636);
  --category-140-color: #0088CC;
  --d-post-control-text-color: rgb(112.4136363636, 134.9272727273, 149.9363636364);
  --d-post-control-sibling-text-color--hover: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --hljs-attribute: #c59bc1;
  --hljs-symbol: #b5bd68;
  --category-60-color: #0088CC;
  --fc-event-border-color: rgb(44.52, 54.06, 60.42);
  --d-sidebar-header-color: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --danger-low-mid: rgba(122.4, 0, 0, 0.7);
  --metadata-color: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --category-header-border: 1px solid rgb(44.52, 54.06, 60.42);
  --header_primary-very-high: rgb(224.2115072872, 227.2859432521, 229.3174655363);
  --d-post-control-create-text-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --d-sidebar-highlight-hover-background: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --category-42-color: #0088CC;
  --hljs-name: #f08d49;
  --jexcel_border_color: rgb(112.4136363636, 134.9272727273, 149.9363636364);
  --category-44-color: #0088CC;
  --secondary-medium: rgb(131.085106383, 157.6382978723, 170.914893617);
  --d-post-control-create-icon-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --primary-very-low-rgb: 36, 44, 49;
  --excerpt-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --tertiary-hover: rgb(2.6680628272, 158.7497382199, 252.1319371728);
  --shadow-dropdown: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
  --tertiary-med-or-tertiary: #0277BD;
  --discourse_id-text: #263238;
  --primary-or-primary-low-mid: rgb(112.4136363636, 134.9272727273, 149.9363636364);
  --d-button-flat-close-icon-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --onebox-shadow-color: rgb(40.4727272727, 49.1454545455, 54.9272727273);
  --category-20-color: #0088CC;
  --primary-very-low: rgb(36.4254545455, 44.2309090909, 49.4345454545);
  --category-142-color: #0088CC;
  --d-sentiment-report-positive-rgb: 46, 204, 112;
  --d-button-success-icon-color--hover: rgb(0, 64.4, 64.4);
  --d-sidebar-border-color: rgb(44.52, 54.06, 60.42);
  --hljs-addition: #76c490;
  --secondary-high: rgb(88.4510638298, 116.3829787234, 130.3489361702);
  --tertiary-300: rgb(0.7, 41.65, 66.15);
  --c4c793af-csstools-light-dark-toggle--0: rgb(0.62, 36.89, 58.59);
  --category-143-color: #0088CC;
  --fc-today-bg-color: rgb(162.9, 79.2486486486, 0);
  --category-22-color: #0088CC;
  --discourse_id-icon: #263238;
  --category-32-color: #0088CC;
  --active-color: rgb(36.4254545455, 44.2309090909, 49.4345454545);
  --category-83-color: #652D90;
  --highlight-low-or-medium: rgb(162.9, 79.2486486486, 0);
  --secondary-or-primary: #ECEFF1;
  --primary-rgb: 236, 239, 241;
  --category-19-color: #0088CC;
  --category-27-color: #0088CC;
  --highlight-rgb: 255, 179, 107;
  --d-input-text-color--disabled: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --mention-background-color: rgb(44.52, 54.06, 60.42);
  --fc-border-color: rgb(44.52, 54.06, 60.42);
  --d-button-default-icon-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --d-sidebar-active-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --category-55-color: #0088CC;
  --primary-100: rgb(40.4727272727, 49.1454545455, 54.9272727273);
  --primary-50: rgb(36.4254545455, 44.2309090909, 49.4345454545);
  --fc-button-hover-border-color: transparent;
  --float-kit-arrow-stroke-color: rgb(44.52, 54.06, 60.42);
  --category-30-color: #0088CC;
  --highlight-high: rgb(255, 160.4108108108, 70.8);
  --secondary-low: rgb(180.6510638298, 196.5829787234, 204.5489361702);
  --tertiary-low-or-tertiary-high: rgb(1.5, 89.25, 141.75);
  --category-33-color: #0088CC;
  --d-post-control-icon-color: rgb(112.4136363636, 134.9272727273, 149.9363636364);
  --category-43-color: #0088CC;
  --category-31-color: #0088CC;
  --category-101-color: #BF1E2E;
  --primary-low-mid-or-secondary-high: rgb(88.4510638298, 116.3829787234, 130.3489361702);
  --d-button-default-bg-color: rgb(44.52, 54.06, 60.42);
  --banner-bg-img: url(https://cdck-file-uploads-europe1.s3.dualstack.eu-west-1.amazonaws.com/flex013/uploads/freeletics/original/2X/f/fdc144b17668f8ed2466bb6120eb10287db55eff.png);
  --jexcel_content_color_highlighted: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --primary-low-mid-or-secondary-low: rgb(180.6510638298, 196.5829787234, 204.5489361702);
  --hover-shadow: 0 0 0 0.5rem #2d363d;
  --tertiary-900: rgb(1.5, 89.25, 141.75);
  --heading-font-family: "AktivGrotesk", Arial, sans-serif;
  --fc-page-bg-color: #263238;
  --d-sidebar-prefix-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --d-sidebar-footer-fade: rgb(38, 50, 56, 1);
  --d-sidebar-active-prefix-background: rgb(44.52, 54.06, 60.42);
  --category-82-color: #652D90;
  --tertiary-100: rgb(0.56, 33.32, 52.92);
  --tertiary-200: rgb(0.62, 36.89, 58.59);
  --d-chat-input-bg-color: rgb(36, 44, 49, 0.5);
  --jexcel_header_color_highlighted: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --hljs-attr: #88aece;
  --d-sidebar-suffix-color: #0277BD;
  --category-100-color: #652D90;
  --primary-low-rgb: 45, 54, 60;
  --59cfd78c-csstools-light-dark-toggle--0: #0277BD;
  --d-button-transparent-icon-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --discourse_id-border: 1px solid transparent;
  --topic-timeline-handle-color: light-dark( rgb(0.84, 49.98, 79.38), #0277BD );
  --d-unread-notification-background: light-dark( rgb(0.4, 23.8, 37.8), rgb(0.62, 36.89, 58.59) );
  --d-sidebar-prefix-background: rgb(44.52, 54.06, 60.42);
  --category-18-color: #0088CC;
  --jexcel_header_background_highlighted: rgb(44.52, 54.06, 60.42);
  --input-border-color: rgb(112.4136363636, 134.9272727273, 149.9363636364);
  --success-medium: rgb(0, 96.6, 96.6);
  --category-75-color: #0088CC;
  --primary-300: rgb(80.9454545455, 98.2909090909, 109.8545454545);
  --blend-primary-secondary-5: rgb(64.4716992176, 72.325998092, 76.7023467698);
  --success-rgb: 0, 161, 161;
  --danger-medium: rgb(198.9, 0, 0);
  --calendar-close-to-working-hours: rgb(1.1989528796, 71.3376963351, 113.3010471204);
  --d-button-default-bg-color--hover: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --category-16-color: #0088CC;
  --d-sidebar-link-badge-color: rgb(153.6090909091, 169.6181818182, 180.2909090909);
  --category-144-color: #0088CC;
  --highlight-low: rgb(72.4, 35.2216216216, 0);
  --tertiary-very-low: rgb(0.5, 29.75, 47.25);
  --fc-button-active-border-color: transparent;
  --d-button-transparent-text-color--hover: rgb(2.6680628272, 158.7497382199, 252.1319371728);
  --tag-text-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --d-input-bg-color--disabled: rgb(36.4254545455, 44.2309090909, 49.4345454545);
  --font-family: "AktivGrotesk", Arial, sans-serif;
  --shadow-footer-nav: 0 0 2px 0 rgba(0, 0, 0, 0.4);
  --topic-timeline-border-color: rgb(1.5, 89.25, 141.75);
  --header_primary-low: rgb(82.8806370632, 89.2306001325, 92.9004843906);
  --tertiary-50: rgb(0.5, 29.75, 47.25);
  --hljs-title: #f08d49;
  --category-47-color: #0088CC;
  --d-sidebar-section-border-color: rgb(44.52, 54.06, 60.42);
  --shadow-composer: 0 -1px 40px rgba(0, 0, 0, 0.35);
  --d-sidebar-highlight-hover-icon: rgb(36.4254545455, 44.2309090909, 49.4345454545);
  --love-low: rgb(122.4, 0, 0);
  --category-77-color: #0088CC;
  --category-81-color: #0088CC;
  --onebox-border-color: rgb(80.9454545455, 98.2909090909, 109.8545454545);
  --primary-medium: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --category-139-color: #0088CC;
  --tertiary-400: rgb(0.84, 49.98, 79.38);
  --category-145-color: #0088CC;
  --highlight-medium: rgb(162.9, 79.2486486486, 0);
  --hljs-bg: rgba(0, 0, 0, 0.25);
  --category-53-color: #0088CC;
  --d-button-default-icon-color--hover: rgb(44.52, 54.06, 60.42);
  --scheme-type: dark;
  --primary-800: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --success-low: rgb(0, 64.4, 64.4);
  --inline-code-bg: rgba(0, 0, 0, 0.35);
  --title-color--read: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --category-141-color: #0088CC;
  --d-badge-card-background-color: rgb(36.4254545455, 44.2309090909, 49.4345454545);
  --primary-low: rgb(44.52, 54.06, 60.42);
  --fc-button-bg-color: rgb(44.52, 54.06, 60.42);
  --tertiary-700: rgb(1.24, 73.78, 117.18);
  --category-15-color: #0088CC;
  --secondary-very-high: rgb(49.7719148936, 65.4893617021, 73.3480851064);
  --fc-button-text-color: #ECEFF1;
  --category-149-color: #0088CC;
  --table-border-color: rgb(44.52, 54.06, 60.42);
  --primary-med-or-secondary-high: rgb(88.4510638298, 116.3829787234, 130.3489361702);
  --category-58-color: #0088CC;
  --jexcel_header_color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --tertiary-rgb: 2, 119, 189;
  --category-6-color: #0088CC;
  --category-51-color: #0088CC;
  --header_primary-low-mid: rgb(142.9412466715, 147.0283986174, 149.5551737654);
  --category-49-color: #0088CC;
  --shadow-header: 0 0 0 1px rgb(44.52, 54.06, 60.42);
  --primary-700: rgb(153.6090909091, 169.6181818182, 180.2909090909);
  --hljs-variable: #b5bd68;
  --jexcel_content_background_highlighted: rgb(0.5, 29.75, 47.25);
  --shadow-menu-panel: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
  --category-26-color: #0088CC;
  --category-78-color: #0088CC;
  --d-button-success-icon-color: rgb(0, 64.4, 64.4);
  --d-sidebar-highlight-prefix-background: rgb(80.9454545455, 98.2909090909, 109.8545454545);
  --header-offset: 48px;
  --d-sidebar-highlight-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --primary-600: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --d-post-control-background--hover: rgb(44.52, 54.06, 60.42);
  --d-button-danger-icon-color--hover: rgb(110.16, 0, 0);
  --success-hover: rgb(0, 128.8, 128.8);
  --twitter-or-white: #fff;
  --category-57-color: #0088CC;
  --discourse_id-background: #0277BD;
  --danger-low: rgb(110.16, 0, 0);
  --discourse_id-text-hover: #263238;
  --d-sidebar-highlight-suffix-color: #0277BD;
  --category-8-color: #0088CC;
  --category-28-color: #0088CC;
  --d-sidebar-link-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --fc-neutral-bg-color: rgb(44.52, 54.06, 60.42);
  --d-button-flat-bg-color--focus: #2d363d;
  --d-button-success-bg-color--hover: rgb(0, 128.8, 128.8);
  --fc-button-hover-bg-color: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --d-topic-list-header-text-color: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --header_primary-high: rgb(198.5457126205, 201.8283924526, 203.9546518224);
  --jexcel_border_color_highlighted: rgb(1.5, 89.25, 141.75);
  --d-sidebar-active-icon-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --primary-400: rgb(112.4136363636, 134.9272727273, 149.9363636364);
  --category-76-color: #0088CC;
  --highlight-bg: rgb(72.4, 35.2216216216, 0);
  --d-sidebar-header-icon-color: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --category-boxes-description-text-color: rgb(88.4510638298, 116.3829787234, 130.3489361702);
  --d-sidebar-link-icon-color: rgb(126.1454545455, 146.4909090909, 160.0545454545);
  --tertiary-or-tertiary-low: rgb(0.7, 41.65, 66.15);
  --d-sidebar-highlight-background: #2d363d;
  --primary-high-or-secondary-low: rgb(180.6510638298, 196.5829787234, 204.5489361702);
  --content-border-color: rgb(44.52, 54.06, 60.42);
  --d-sidebar-highlight-prefix-color: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --primary-200: rgb(44.52, 54.06, 60.42);
  --chat-skeleton-animation-rgb: 36, 44, 49;
  --category-9-color: #0088CC;
  --tertiary-high: rgb(1.5, 89.25, 141.75);
  --header_primary-medium: rgb(176.8688779859, 180.3927659303, 182.6355660872);
  --d-button-danger-bg-color--hover: rgb(244.8, 0, 0);
  --category-98-color: #0088CC;
  --category-5-color: #0088CC;
  --d-sentiment-report-negative-rgb: 231, 77, 60;
  --tertiary-low: rgb(0.7, 41.65, 66.15);
  --hljs-keyword: #88aece;
  --calendar-normal: rgb(0.664921466, 39.5628272251, 62.835078534);
  --hljs-string: #b5bd68;
  --hljs-punctuation: #ccc;
  --d-button-flat-bg-color--hover: #2d363d;
  --primary-med-or-secondary-med: rgb(131.085106383, 157.6382978723, 170.914893617);
  --d-button-primary-bg-color--hover: rgb(2.6680628272, 158.7497382199, 252.1319371728);
  --tertiary-medium: rgb(1.1, 65.45, 103.95);
  --hljs-deletion: #de7176;
  --primary-500: rgb(126.1454545455, 146.4909090909, 160.0545454545);
  --d-sidebar-admin-background: rgb(36.4254545455, 44.2309090909, 49.4345454545);
  --category-50-color: #0088CC;
  --discourse_id-icon-hover: #263238;
  --jexcel_menu_background_highlighted: rgb(49.7719148936, 65.4893617021, 73.3480851064);
  --tertiary-500: rgb(0.96, 57.12, 90.72);
  --banner-primary-text: #000;
  --main-outlet-offset: 168px;
  --primary-900: rgb(208.5363636364, 215.8727272727, 220.7636363636);
  --d-button-flat-icon-color: rgb(112.4136363636, 134.9272727273, 149.9363636364);
  --fc-list-event-hover-bg-color: #263238;
  --d-sidebar-active-suffix-color: #0277BD;
  --primary-low-mid: rgb(112.4136363636, 134.9272727273, 149.9363636364);
  --primary-high: rgb(167.3409090909, 181.1818181818, 190.4090909091);
  --tertiary-25: rgb(0.4, 23.8, 37.8);
  --category-54-color: #0088CC;
  --jexcel_header_background: rgb(36.4254545455, 44.2309090909, 49.4345454545);
  --tertiary-600: rgb(1.1, 65.45, 103.95);
  --active_color: rgb(36.4254545455, 44.2309090909, 49.4345454545);
  --calendar-in-working-hours: rgb(1.4659685864, 87.2251308901, 138.5340314136);
  --category-23-color: #0088CC;
  --d-sentiment-report-neutral-rgb: 149, 166, 167;
  --quaternary-low: rgb(0.6, 35.7, 56.7);
  --d-chat-input-border-color: rgb(44.52, 54.06, 60.42);
  --category-72-color: #0088CC;
  --tertiary-or-white: #fff;
  --tertiary-800: rgb(1.38, 82.11, 130.41);
  --d-input-border--disabled: 1px solid rgb(44.52, 54.06, 60.42);
  --d-button-danger-icon-color: rgb(110.16, 0, 0);
  --fc-button-border-color: transparent;
  --discourse_id-background-hover: rgb(2.6680628272, 158.7497382199, 252.1319371728);
  --category-39-color: #0088CC;
  --danger-hover: rgb(244.8, 0, 0);
  --category-147-color: #0088CC;
  --fc-button-active-bg-color: #0277BD;
  --facebook-or-white: #fff;
  --category-25-color: #0088CC;
  --d-input-border: 1px solid rgb(112.4136363636, 134.9272727273, 149.9363636364);
  --jexcel_menu_color: rgb(139.8772727273, 158.0545454545, 170.1727272727);
  --category-146-color: #0088CC;
}

#main-outlet, main {
  background-color: rgba(22, 30, 33, 0.6);
}

.category-boxes .category-box, .category {
  color: rgb(236, 239, 241);
  background-color: rgb(38, 50, 56);
  border-color: rgb(0, 136, 204);
}

#main-outlet {
  background-color: rgba(22, 30, 33, 0.6);
}

body {
  font-family: AktivGrotesk, Arial, sans-serif;
}

h1 {
  font-family: "Aktiv Grotesk Ex";
  line-height: 44.8px;
}

h3 {
  font-family: "Aktiv Grotesk Ex";
  font-size: 21.112px;
  line-height: 25.3344px;
}

.btn, button {
  font-family: AktivGrotesk, Arial, sans-serif;
}

a {
  font-family: AktivGrotesk, Arial, sans-serif;
}
