{{#if (eq this.router.currentRouteName "discovery.categories")}}
  <div class="ame-quote-container">
    <div class="ame-rotating-quote">
      <span class="q-text"></span>
    </div>
  </div>
{{/if}}
