{{#if (theme-setting "enable_header_quotes")}}
<div class="ame-header-banner">
  <div class="ame-banner-content">
    <h1 class="ame-banner-quote">
      <span class="quote-text"></span>
    </h1>
  </div>
</div>
{{/if}}
